<div id="info">
  <!-- <p id="info-title">A B O U T</p> -->
  <p>
    Birdr is a tool for discovering and identifying birds in your neighborhood.
    It was built by <a href="http://reubenson.com/">Reuben Son</a> as a student at
    <a href="http://flatironschool.com" target="_blank_">The Flatiron School</a>
    using Ruby/Rails, Javscript, jQuery, AJAX, CSS3, and HTML5.
  </p>
  <p>
    Bird observation data is obtained through API calls to the
    <a href="https://confluence.cornell.edu/display/CLOISAPI/eBird+API+1.1" target="_blank_">eBird</a>
    database, which was created
    in 2002 by the
    <a href="https://www.audubon.org/" target="_blank_">National Audubon Society</a>
    and the
    <a href="http://www.birds.cornell.edu/Page.aspx?pid=1478" target="_blank_">Cornell Lab of Ornithology</a>
    to log birding checklists submitted provided by birders across the globe.
    Information and images specific to each bird species are supplied through AJAX requests
    to the Wikipedia API. The responsive design was coded in JavaScript/jQuery and CSS
    from scratch without the use of additional libraries.
  </p>

  <p>
    <a href="https://github.com/reubenson/BRDR" target="_blank_">https://github.com/reubenson/birdr</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <div id="notice">
        <%= @collection_view_object.notice %>
        <% if @collection_view_object.show_popular_searches %>
          <br><br>
          <% @collection_view_object.popular_searches.each do |term| %>
            <%= render partial: "report_collection/popular_search", locals:{term: term}, layout: false %>
          <% end %>
        <% end %>
      </div>

      <%= form_tag('', remote: true, class: 'filter-species' ) do %>
        <%= text_field_tag 'search', '', placeholder: 'Filter Results (e.g. "Owl")', class: 'form-control' %>
      <% end %>

      <%= select_tag "bird-select", options_from_collection_for_select(@collection.reports_sorted_alphabetically, "sci_name", "com_name"), prompt: "List of Birds" %>

      <ul class="list-group" id="species-list" data-lat="<%= @collection.latitude %>" data-lng="<%= @collection.longitude %>">
      <% @collection.reports.sort{|x,y| x.com_name <=> y.com_name}.each do |report| %>
        <a href="#">
          <li class="select-species list-group-item" data-species="<%= report.sci_name %>">
            <span><%= report.com_name %></span>
          </li>
        </a>
      <% end %>
      </ul>
      <div id="bird-not-found">
        The bird you are searching for hasn't been spotted near you in the last 30 days.
        Click the button below to try searching for the nearest sighting.
        <br/>
        <button id="nearest-sighting-button">Take Me To The Nearest Sighting</button>
        <!-- <button id="add-to-watchlist-button">Add to your watchlist</button> -->
      </div>
    </div>




    <div class="col-xs-8">
      <div id="mobile-buttons">
          <button id="bird-bio-btn" class="mobile-button">B I O</button>
          <button id="bird-map-btn" class="mobile-button active">M A P</button>
      </div>
      <!-- <div id="view-title"> -->
        <!-- <h3> -->
          <!-- Bird Name -->
        <!-- </h3> -->
        <!-- <a href="#" id="view-button">(Hide Bio)</a> -->
        <!-- <button id="view-button">-</button> -->
        <!-- <a href="#" id="view-button">Hide Bio</a> -->
      <!-- </div> -->
      <div id="wikipedia-info-background" class="make-background"></div>
      <div id="wikipedia-info">
        <div id="bird-name">
          <h3>Bird Name</h3>
          <a href="#" id="view-button">(Hide Bio)</a>
          <!-- <button id="view-button">-</button> -->
          <!-- <a href="#" id="view-button">Hide Bio</a> -->
        </div>
        <figure>
          <a>
            <img></img>
          </a>
          <figcaption></figcaption>
        </figure>
      </div>
      <div id="map-container">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function initMap() {
  var userLoc = new google.maps.LatLng(<%= @collection.latitude %> , <%= @collection.longitude %>);
  var userLocOffset = new google.maps.LatLng(<%= @collection.latitude + 0.15 %> , <%= @collection.longitude %>);

  var mapOptions = {
    zoom: 9,
    center: userLocOffset,
    scrollwheel: false,
    streetViewControl: false,
    mapTypeControl: false
  };

  map = new google.maps.Map(document.getElementById("map"), mapOptions);

  var user_marker = new google.maps.Marker({
    icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
    position: userLoc,
    map: map,
    title: "Your Location"
  });
  // markers.push(user_marker);

  <% @collection.reports.each do |report| %>
    var myLatlng = new google.maps.LatLng(<%= report.lat %>,<%= report.lng %>);
    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: "<%= report.com_name %> (Observed on <%= report.obs_dt %>)"
    });
    markers.push(marker);
  <% end %>



  map.setOptions({styles: styles});

  setMapSize();
}
</script>
