<!DOCTYPE html>
<html>
<head>
  <title>OwlFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

      <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
</head>
<body>

<ul>
	<% @owls.each do |owl| %>
		<li>
			<%= owl.lat %> , <%= owl.lng %>

		</li>
	<% end %>
</ul>

<div id="map"></div>
    <script type="text/javascript">
    	function initMap() {
    		// var locations = [];
    		var myLatlng = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
    		var mapOptions = {
			  zoom: 10,
			  center: myLatlng
			}
			var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    		<% @owls.each do |owl| %>
			// var myLatlng = new google.maps.LatLng(<%= @lat %>,<%= @lng %>);
				var myLatlng = new google.maps.LatLng(<%= owl.lat %>,<%= owl.lng %>);
				// locations.push(myLatlng);

				var marker = new google.maps.Marker({
				    position: myLatlng,
				    title:"Hello World!"
				});

				marker.setMap(map);
			<% end %>
		}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["gmaps_api_key"] %>&callback=initMap">
    </script>

<%= yield %>

</body>
</html>
