<!DOCTYPE html>
<html>
<head>
  <title>OwlFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

      <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
</head>
<body>

<div id="map"></div>
    <script type="text/javascript">
    	function initMap() {
    		var myLatlng = new google.maps.LatLng(<%= @centroid[0].to_s %> , <%= @centroid[1].to_s %>);
    		var mapOptions = {
			       zoom: 10,
			      center: myLatlng
			  }
			var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    		<% @collection.reports.each do |report| %>
				var myLatlng = new google.maps.LatLng(<%= report.lat %>,<%= report.lng %>);

				var marker = new google.maps.Marker({
				    position: myLatlng
				    // title: "Observed on date"+<%= report.obs_dt.to_s || " " %>
				});

				marker.setMap(map);
			<% end %>
		}
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["gmaps_api_key"] %>&callback=initMap">
    </script>

<%= yield %>

</body>
</html>
